# Logs
logs/*
elpa/*
.cache/*
auto-save-list/*

bookmarks
recentf
projectile-bookmarks.eld

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml